<%= link_to 'Back To Index', issues_path %>

<div class="issue">
  <h2><%= issue.title %></h2>
</div>
<h4><%= issue.location %></h4>
<p><b><%= issue.description %></b></p>
<br>
<div class="issue-photo">
  <img src="<%= issue.photo_url %>" width="300"/>
<div class="issue-map">
  <img src="<%= issue.map_url %>" width="640" height="480"></img>
</div>
