<h2>Unprotected Landscapes Watch List</h2>

<% if session[:current_user]%>
  <p><%= link_to "Logout", logout_path %></p>
<% else %>
     <%= link_to 'Login', login_path %> |
     <%= link_to 'Sign Up', new_user_path %>
<% end %>



<% @issues.each do |issue| %>
  <a href="/issues/<%= issue.id %>">
  <p><b><%= issue.title %><b></p>
  </a>
  <p><%= issue.location %></p>
  <p><%= image_tag issue.photo_url %></p>
  <p><img src="<%= issue.map_url %>" width="425" height="350"</img></p>
<% end %>

<% if session[:current_user] %>
  <p>
    Want to delete your account?
    <%= link_to 'Delete My Account', current_user, method: :delete, data: {confirm: 'Are you sure you want to delete your account?'} %>
  </p>
<% end %>
