<h2>Unprotected Landscapes Watch List</h2>

<%= link_to 'Login', login_path %> |
<%= link_to 'Sign Up', new_user_path %>

<% @issues.each do |issue| %>
  <a href="/issues/<%= issue.id %>">
    <p>
    <b><%= issue.title %><b>
  </p>
</a>
  <p>
    <%= issue.category %>
  </p>
  <p>
    <%= issue.location %>
  </p>
  <p>
    <%= image_tag issue.photo_url %>
  </p>
  <p>
    <iframe src= "<%= issue.map_url %>" width="640" height="480"></iframe>
  </p>

<% end %>
