<h2>Unprotected Landscapes Watch List</h2>

<%= link_to 'Create a User Account to Add Unprotected Landscapes to our Watch List', new_issue_path %>

<% @issues.each do |issue| %>
  <p>
    <b><%= issue.title %><b>
  </p>
  <p>
    <%= issue.category %>
  </p>
  <p>
    <%= issue.location %>
  </p>
  <p>
    <%= image_tag issue.photo_url %>
  </p>
  <p>
    <iframe src= "<%= issue.map_url %>" width="640" height="480"></iframe>
  </p>

<% end %>
